.product-grid {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    column-gap: 80px;
    box-sizing: border-box;
    row-gap: 55px;
}

.product-container {
    width: 250px;
    height: 257px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.product-details {
    margin-left: 10px;
}

.game-name {
    margin-bottom: 0px;
}

.sold-flex {
    display: flex;
    align-items: center;
}