header {
    background-color: #98886E;
    display: flex;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    height: 135px;
}

footer {
    background-color: #b3b3b3;
    display: flex;
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;
    height: 135px;
}