services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tidgame-next-app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?schema=public
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - tidgame-network
    restart: unless-stopped
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    container_name: postgres_container
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - tidgame-network
    restart: unless-stopped

volumes:
  postgres-data:


networks:
  tidgame-network:
    driver: bridge
