.header-nav {
    position: sticky;
    top: 0;
}

header {
    background-image: linear-gradient(to right, #55358d 0%, #3E56CF 50%, #7081ee 90%);

    padding: 0px 200px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;

    height: 100px;
}

.header-left-section {
    width: 200px;
    display: flex;
    flex-shrink: 0;
}

.TidGame-logo {
    margin-left: 20px;
}

.header-middle-section {
    justify-content: center;
    display: flex;
    flex: 1;
}

.search-logo-container {
    display: flex;
    align-items: center;
}

.search-logo {
    height: 25px;


    position: absolute;
    padding-left: 20px;
}

.search-bar {
    width: 650px;
    height: 40px;
    border: none;
    border-radius: 35px;
    padding-left: 55px;
    font-size: 16px;
    box-sizing: border-box;
}

.header-right-section {
    width: 200px;
    gap: 15px;

    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    padding-left: 60px;
}

.user-logo,
.cart-logo,
.notification-logo {
    width: 32px;
}

.notification-container {
    position: relative;
    align-items: center;
    justify-content: center;
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 10px;
    font-family: Roboto, Arial;
    background-color: rgb(218, 22, 22);
    padding: 2px 4px;
    border-radius: 10px;
    color: white;
}

.nav-list {
    color: white;

    display: flex;
    list-style-type: none;
    gap: 80px;
    justify-content: center;
    margin-top: 0px;
    align-items: center;
}

nav {
    background-image: linear-gradient(to right, #55358d 0%, #3E56CF 50%, #7081ee 90%);

    height: 40px;
}

.list-nav-game {
    background-color: #ffffff;
    color: #838383;
    font-weight: 700;

    padding: 5px 10px;
    border: solid 1px #838383;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.list-nav-game:hover {
    background-color: rgba(252, 195, 195, 0.7);
    transform: scale(1.1);
}