.product-grid {
    background-color: #ebebeb;
    height: 100%;
    padding: 60px 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 100px;
    row-gap: 100px;
}

.product-card {
    width: 380px;
    height: 447px;
    padding: 15px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.product-card-inner {
    display: flex;
    flex-direction: column;
}

.product-media {
    display: flex;
    gap: 5px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.media-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.media-right {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
}

.media-left img,
.media-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-top: 25px;
    gap: 20px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.product-details {
    display: flex;
    align-items: center;
    column-gap: 120px;
}

.description {
    color: #333;
    font-size: 14px;
    flex: 1;
    margin-left: 10px;

    width: 360px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2;
}

.add-to-cart {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.add-to-cart button {
    background: linear-gradient(90deg, #6f5af8, #5863f5);
    color: #fff;
    border: none;
    padding-left: 100%;
    padding: 10px 18px;
    border-radius: 22px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(88, 99, 245, 0.25);

    margin-right: 20px;
}

.add-to-cart:hover {
    transform: translateY(-2px);
    transition: transform 180ms ease-in-out;
}

@media (max-width: 760px) {
    .product-card {
        margin: 18px;
    }

    .product-media {
        flex-direction: column;
    }

    .media-right {
        flex-direction: row;
        gap: 8px;
    }

    .product-card-body {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .price {
        font-size: 18px
    }
}

@media (max-width: 1500px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
    }
}

.dialog-box {
    background-color: white;

    width: 1100px;
    height: 550px;
    box-sizing: border-box;


    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    z-index: 2000;

    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(66, 66, 66, 0.3);
    overflow: hidden;
}

.dialog-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;

    width: 100%;
    height: 100%;
}

.dialog-image {

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;

    border-right: solid 1.5px #cecece;
}

.dialog-image img {
    padding: 90px 50px 0px 50px;

    width: 500px;
    border: none;
    border-radius: 10px;

    object-fit: cover;
}

.dots {
    width: 100%;
    margin-top: 30px;

    display: flex;
    flex: 1;
    gap: 20px;

    justify-content: center;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #777;
    display: inline-block;
}

.dot.active {
    background-color: #777;
}

.dialog-text {
    padding: 80px 15px 0px 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.dialog-title {
    font-weight: bold;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2;
}

.dialog-message {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2;
}

.dialog-close-button {
    margin-left: 320px;
    margin-top: 50px;
    cursor: pointer;
}

.dialog-close-button button {
    padding: 13px 21px;
    background: linear-gradient(90deg, #6f5af8, #5863f5);

    font-size: 17px;
    color: #fff;
    font-weight: 550;

    border: none;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(88, 99, 245, 0.25);
}